In [ ]:
# Hello Sunny Notebook

# Introduction

Welcome to this notebook! In this notebook, we will explore various concepts related to data science, including languages, libraries, and tools commonly used in the field. We will also explore some basic arithmetic expressions and conversions. Let's get started!

In [ ]:
# Data Science Languages

- Python
- R
- Julia
- SAS
- SQL

In [ ]:
## Data Science Libraries

Some of the popular data science libraries are:

- NumPy
- Pandas
- Matplotlib
- Seaborn
- Scikit-learn
- TensorFlow
- PyTorch
- Keras
- Statsmodels

In [ ]:
| Tool           | Description                            | Language     |
| --------------|----------------------------------------|--------------|
| Pandas         | Data manipulation and analysis         | Python       |
| NumPy          | Numerical computing library             | Python       |
| Matplotlib     | Data visualization library              | Python       |
| Scikit-learn   | Machine learning library                | Python       |
| TensorFlow    | Open-source platform for ML             | Python       |
| Keras          | Deep Learning API                       | Python       |
| PyTorch        | ML library for computer vision          | Python       |
| ggplot2        | Data visualization library              | R            |
| dplyr          | Data manipulation and analysis         | R            |
| caret          | ML library                              | R            |
| tidyr          | Data wrangling                          | R            |
| Shiny          | Interactive visualization               | R            |
| KNIME          | Data mining and analysis                | Java         |
| RapidMiner     | Machine learning library                | Java         |
| WEKA           | Data mining and ML library              | Java         |
| MATLAB         | Data analysis and visualization         | MATLAB       |
| Octave         | High-level language for numerical calc. | MATLAB       |
| Tableau        | Business intelligence and analytics     | SQL          |
| Power BI       | Business analytics and visualization    | SQL          |
| Apache Spark   | Big data processing engine              | Scala/Python |
| Hadoop         | Big data storage and processing         | Java         |
| Hive           | Data warehousing and SQL-like queries   | SQL          |

In [ ]:
# Arithmetic Expression Examples

Arithmetic expressions involve mathematical operations such as addition, subtraction, multiplication, and division. These expressions follow the standard order of operations (PEMDAS) and can include parentheses to modify the order of operations.

Examples of arithmetic expressions include:

- `2 + 3`: adds 2 and 3, resulting in 5
- `4 * 5`: multiplies 4 and 5, resulting in 20
- `8 / 2`: divides 8 by 2, resulting in 4
- `(4 + 5) * 2`: adds 4 and 5, then multiplies by 2, resulting in 18

In [ ]:
# Multiplying and adding numbers
x = 10
y = 5
print(x*y)  # Output: 50
print(x+y)  # Output: 15

In [ ]:
minutes = 120
hours = minutes / 60
print("120 minutes is equal to", hours, "hours")

In [ ]:
## Objectives

- Learn and understand the basics of data science
- Gain proficiency in at least one programming language for data science
- Familiarize oneself with popular data science libraries and tools
- Develop the skills necessary to collect, analyze, and interpret data
- Apply data science techniques to solve real-world problems

In [ ]:
## Author: [Your Name Here]
## Author: Sunny Nanade